pre {
  background-color: #fafbfd;
  border: 1px solid #d6dbe1;
  padding: 10px;

  code {
    font-family: monospace;
    color: black;

    .keyword {
      color: #0066CC;
    }
    .citizen {
      font-weight: 600;
    }
    .comment {
      color: #eb6084;
      font-style: italic;
    }
    .brace {
      color: #66cc66;
    }
    .operator {
      color: #982ef1;
    }
    .string {
      color: #f27d00;
    }
  }
}