@import "queries";
@import "compass/css3/user-interface";

// Grid
// --------------------------------------------------------------------------

$main: 622px;

// Colors
// --------------------------------------------------------------------------

$blue: #f2f4f7;
$gunmetal: #58616f;
$brown: #423b35;

// Colors
// --------------------------------------------------------------------------

$break-small: 600px;
$break-large: 1100px;
$break-huge: 1600px;

::selection {
	background: #ddff8c; /* Safari */
}
::-moz-selection {
	background: #ddff8c; /* Firefox */
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	line-height: 45px;
	font-weight: 300;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	line-height: 40px;
	font-weight: 400;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 28px;
  font-weight: 400;
  &.small {
    font-size: 14px;
    line-height: 21px;
  }
}

a {
	&:link {
		color: #2394db
	}
	&:visited {
		color: #623a9e;
	}
	&:hover {
		color: #db4623
	}
	&:active {
		color: #ff4761;
	}
}

@media screen and (max-width: $break-small) {
  h1 {
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
  }
  h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
}

body:after {
  display: none;
}
@media screen and (min-width: $break-huge) {
  body:after {
    content: 'huge';
  }
}
@media screen and (min-width: $break-large) and (max-width: $break-huge) {
  body:after {
    content: 'large';
  }
}
@media screen and (min-width: $break-small) and (max-width: $break-large) {
  body:after {
    content: 'medium';
  }
}
@media screen and (max-width: $break-small) {
  body:after {
    content: 'small';
  }
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hidden {
  display: none;
}

.nav-button {
  background-color: #649a5e;
  @include background-image( linear-gradient( top, #649a5e, #558350 ) );
  border: 1px solid #467b40;
}

.menu-button {
  background-color: #355b85;
  @include background-image( linear-gradient( top, #355b85, #2d4e72 ) );
  border: 1px solid #23476e;
}

.button {
	display: inline-block;
	@include box-shadow(
		rgba( white, 0.25 ) 0 1px 0 0 inset,
		rgba( black, 0.6 ) 0 3px 3px 0
	);
	cursor: pointer;
	@include user-select( none );
	@include text-shadow( rgba( black, 0.3 ) 0px 1px 1px );
	color: #fefffe;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 300;
	padding: 16px 24px 20px;
	@include border-radius( 2px );

  &:hover {
    @include background-image( linear-gradient( top, rgba( black, .2 ), rgba( black, .2 ) ) );
    @include box-shadow(
      rgba( white, 0.5 ) 0 1px 0 0 inset,
      rgba( black, 0.6 ) 0 3px 3px 0
    );
  }
  &:active, &.stuck {
    @include background-image( linear-gradient( top, rgba( black, .4 ), rgba( black, .2 ) ) );
    @include box-shadow(
      rgba( black, 0.2 ) 0 2px 2px 0 inset,
      rgba( white, .8 ) 0 1px 0 0
    );
    color: #ededed;
  }

  &.small {
    padding: 8px 12px 10px;
    font-size: 22px;
  }

  &.next-step {
    float: right;
  }

	.arrow-icon {
		display: inline-block;
		width: 26px;
		height: 16px;
		position: relative;
    &.forward {
  		background-image: url( '../images/icon-arrow-forward.png' );
    }
    &.back {
      background-image: url( '../images/icon-arrow-back.png' );
    }
	}

  .beer-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    margin-top: -20px;
    margin-right: 10px;
    background-image: url( '../images/icon-beer.png' );
  }

  .menu-icon {
    width: 41px;
    height: 18px;
    margin: 4px 6px 2px;
    background-image: url( '../images/icon-menu.png' );
  }
}

.header {
	width: 100%;
}

.home {
  .header {
  	position: relative;
    height: 275px;
    @include background-image( linear-gradient( top, #ece3d8, #ecdac3 ) );
    @include box-shadow( rgba( black, 0.1 ) 0 -5px 20px 0 inset );
    @media screen and (max-width: $break-small) {
      height: 190px;
      .logo {
        width: 200px;
      }
    }
    .container {
      position: relative;
      top: 50px;
      width: 520px;
      margin: 0 auto;
      text-align: center;
      .description {
        @include text-shadow( rgba( black, 0.1 ) 0px 2px 1px );
        margin-top: 14px;
        color: $brown;
      }
      @media screen and (max-width: $break-small) {
        width: 100%;
        top: 30px;
      }
    }
    .poopsie {
    	position: absolute;
    	left: 2px;
    	bottom: 0;
      @media screen and (max-width: $break-small) {
        width: 60px;
      }
    }
  }
  .wrapper {
    max-width: 960px;
    padding: 0 10px 80px;
    margin: 0 auto;
    background-color: white;
    @media screen and (max-width: $break-small) {
      max-width: 100%;
    }
  }

  .intro {
    position: relative;
    width: $main;
    margin: 60px auto 0;

    h1 {
      color: $brown;
    }
    h2 {
      color: $brown;
    }
    .prompt {
      text-align: center;
    }

    @media screen and (max-width: $break-small) {
      width: 100%;
      margin-top: 60px;
    }
  }

  .contents {
    width: auto;
    margin-top: 90px;
    border: 1px solid #d6dbe1;
    background-color: $blue;
    @include box-shadow( rgba( #2b3748, 0.15 ) 0 1px 2px 0 );
    color: $gunmetal;
    .title {
      text-align: center;
    }
    ul {
      padding: 0;
      li {
        position: relative;
        list-style-type: none;
        h1 {
          position: absolute;
          left: 100px;
        }
        p {
          position: relative;
          margin-left: 340px;
        }
        a {
          display: block;
          width: auto;
          height: 100%;
          color: $gunmetal;
          text-decoration: none;
          padding: 10px 20px 10px 0;
          &:link {
          }
          &:visited {
            color: #7563a0;
          }
          &:hover {
            color: #bb6c17;
            background-color: #ffe4b6;
          }
          &:active {
            color: #ff4761;
          }
        }
      }
    }
    @media screen and (max-width: $break-small) {
      margin-top: 60px;
      ul li {
        h1 {
          left: 20px;
        }
        p {
          margin-left: 200px;
        }
      }
    }
  }

}

.page {
	.header {
  	position: relative;
    height: 90px;
    @include background-image( linear-gradient( top, #ece3d8, #ecdac3 ) );
    @include box-shadow( rgba( black, 0.1 ) 0 -5px 20px 0 inset );
    .logo {
      position: absolute;
      left: 10px;
      top: 16px;
      @media screen and (max-width: $break-small) {
        width: 200px;
        top: 22px;
      }
    }
    .arrows {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
  .main {
    width: 100%;
    max-width: 960px;
    .inner {
    }
  }
}

.main-container {
  position: relative;
  /*width: 1000px;*/
  height: auto !important;
  height: 100%;
  min-height: 100%;
  /*margin: 0 auto;*/
  z-index: 2;
  /*background-color: $blue;*/

  &::before {
    right: 100%;
    /*background-color: $blue;*/
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 9999px;
    height: 100%;
  }

  .sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    border-top: 1px solid white;

    @media screen and (max-width: $break-small) {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .sidebar-inner {
      border-left: solid 1px #d4d9e1;
      border-right: solid 1px #d4d9e1;
      width: 100%;
      color: $gunmetal;

      section {
        padding: 20px 0;
        @include background-image(linear-gradient(#f2f4f7 50%, #e6edf7)); 
        border-top: 1px solid #d4d9e1;
        border-bottom: 1px solid #d4d9e1;
        @include box-shadow( rgba(white, 1) 0 1px 0 inset, rgba(#dae5f6, 1) 0 -1px 0 inset );
        text-align: center;
        @media screen and (max-width: $break-small) {
          padding: 8px 10px;
          text-align: left;
        }
        &.download {
          .download-arrow {
            display: inline;
            vertical-align: top;
            margin-right: 10px;
          }
        }
        &.nav {
          padding: 0;
         .nav-toggle {
            display: none;
            padding: 10px;
            background-color: #97a4b2;
            @media screen and (max-width: $break-small) {
              display: block;
            }
          }
          .nav-list {
            text-align: left;
            @media screen and (min-width: $break-small) {
              display: block;
            }
          }
        }
        &.donation {
          .cta {
            margin: 0 0 8px;
            padding: 0;
          }
          .self-portrait {
            vertical-align: middle;
            margin: 0 0 8px;
            @media screen and (max-width: $break-small) {
              width: 60px;
              margin: 0;
            }
          }
        }
      }

      ul {
        padding: 0;
        margin: 0;
        li {
          position: relative;
          list-style-type: none;
          h2 {
            margin: 0 0 0 20px;
            @media screen and (max-width: $break-small) {
              font-size: 20px;
              line-height: 28px;
            }
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            color: $gunmetal;
            text-decoration: none;
            padding: 10px 0;
            &:link {
            }
            &:visited {
              color: #7563a0;
            }
            &:hover {
              color: #bb6c17;
              background-color: #ffe4b6;
            }
            &:active {
              color: #ff4761;
            }
            &.selected {
              color: #20745f;
              background-color: #d3e3e1;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .content-container {
    background-color: #fff;
    padding-left: 220px;
    @media screen and (max-width: $break-small) {
     padding-left: 0;
    }
    .content-inner {
      margin: 0 auto;
      @media screen and (min-width: $break-huge) {
        width: 1000px;
        h1 {
          font-size: 40px;
          line-height: 60px;
        }
        h2 {
          font-size: 28px;
          line-height: 44px;
          font-weight: 400;
        }
        p {
          font-size: 22px;
          line-height: 33px;
          font-weight: 400;
        }
      }
      @media screen and (max-width: $break-huge) {
        width: 700px;
        min-height: 100%;
        padding: 20px 80px 160px;
      }
      @media screen and (max-width: $break-large) {
        width: auto;
        padding: 20px 60px 160px;
      }
      @media screen and (max-width: $break-small) {
        padding: 20px 20px 160px;
      }
    }
  }
}

.comments {
  margin-top: 60px;
}

.footer {
  position: relative;
	height: 60px;
	background-color: #e6d8c6;
	@include box-shadow( rgba( black, 0.1 ) 0 5px 20px 0 inset );
  .cenizal-logo {
    position: absolute;
    left: 0;
    top: -10px;
  }
}

/* Tooltip. */
.ui-tooltip {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: white;
  border: 2px solid #939ba8;
  @include box-shadow(rgba(black, 0.15) 0 10px 10px);
  @include border-radius(18px);
  padding: 20px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  @media screen and (max-width: $break-small) {
    padding: 8px 12px;
    max-width: 200px;
  }
  .arrow {
    position: absolute;
    width: 17px;
    height: 39px;
    left: -16px;
    top: 50%;
    margin-top: -10px;
    background-image: url(../images/tooltip-arrow-left.png);
    @media screen and (max-width: $break-small) {
      background-image: url(../images/tooltip-arrow-down.png);
      width: 19px;
      height: 12px;
      left: 50%;
      top: 100%;
      margin-left: -10px;
      margin-top: -1px;
    }
  }
}
