// BUTTON.

@import "compass";

button,
.button {
  display: inline-block;
  vertical-align: middle;
  background-color: #3eb77f;
  color: #fff;
  border: none;
  padding: 16px 28px;
  @include text-shadow(rgba(0, 0, 0, 0.2) -1px 1px 0);
  @include border-radius( 8px );
  @include box-shadow(rgba(0, 0, 0, .1) -2px 2px 0);
  &:hover {
    background-color: #45cb8d;
  }
  &:active {
    background-color: #349869;
    @include box-shadow(rgba(0, 0, 0, .1) -2px 2px 0 0 inset);
  }
  &.button--block {
    display: block;
    margin-top: 28px;
  }
  &.button--circle {
    @include circle( 54px );
  }
  &.button--circle--large {
    @include circle( 90px );
    @include is( small ) {
      @include circle( 70px );
    }
  }
  &.button--disabled {
    cursor: auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    &:active, &:hover {
      background-color: #3eb77f;
      @include box-shadow(rgba(0, 0, 0, .1) -2px 2px 0);
    }
  }
}