// SLIDER.

.slider {
  position: relative;
}

.slider__prev {
  position: absolute;
  top: 50%;
  left: -29px;
  z-index: 10;
  @include is( medium-small-down ) {
    display: none;
  }
}

.slider__next {
  position: absolute;
  top: 50%;
  right: -29px;
  z-index: 10;
  @include is( medium-small-down ) {
    display: none;
  }
}